.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-height: 90vh;
  font: bold 15px "Raleway", sans-serif;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(172, 165, 255, 0.5);
  margin: 25px auto 0 auto;
  padding: 5px 30px 15px 30px;
}

.App h3 {
  font-size:25px;
}
.input-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.item-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  color: white;
  background-color: #87ceeb;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(141, 131, 250, 0.2);
  margin-bottom: 10px;
  padding: 7px 0;
}

.item-text {
  flex: 9;
  padding: 0 10px;
  cursor: pointer;
}

input {
  flex: 4;
  border-bottom: 1px solid #87ceeb;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 6px;
  outline: none;
}

button {
  flex: 1;
  min-height: 25px;
  font: bold 12px "Raleway", sans-serif;
  color: #fff;
  text-transform: capitalize;
  background-color: #87ceeb;
  box-shadow: 0 0 10px rgba(96, 124, 12, 0.2);
  border: none;
  border-radius: 3px 3px 3px 0;
  cursor: pointer;
  outline: none;
}

button:active {
  font-size: 12px;
  transform: scale(0.98);
}

.item-delete {
  flex: 1;
  font-size: 15px;
  cursor: pointer;
}

.item-delete:active {
  font-size: 13px;
}

.strike {
  text-decoration: line-through;
}

.counters {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tasks-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 40px;
  padding-right: 5px;
}

.complete-tasks-counter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 40px;
  padding-right: 5px;
}
